<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/roboto.all.latin.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/thermometer.css'/>
    <link rel="manifest" href="/javascripts/manifest.json">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139222978-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-139222978-1');
    </script>

    <script>
      if (!window.App) {
        window.App = {};
      }
    </script>
</head>
<body>
<div id="chart-wrap" class="container-fluid h-100 mh-100">
    <div class="row h-100">
        <!--        <div id="timeline" class="col-2 h-100"><object id="timeline_svg" class="h-100" type="image/svg+xml" data="/images/timeline.svg"></object></div>-->
        <!--      <div id="left-chart" class="col-5 h-100"></div>-->
        <!--      <div id="right-chart" class="col-5 h-100"></div>-->
        <object id="thermometer" class="col-12 h-100" type="image/svg+xml" data="/images/thermometer_5.svg"></object>
    </div>
    <!--    <div class="result-box">-->
    <!--        <div class="result-score"><span class="binance"></span> : <span class="idax"></span></div>-->
    <!--        <div class="result-text">TEST</div>-->
    <!--        <div class="average-title">평균가격</div>-->
    <!--        <div class="average-price">99999.99</div>-->
    <!--    </div>-->
</div>
<div id="main-wrap">
    <div id="main" class="container-fluid h-100 d-flex flex-column">
        <div class="row top" style="height:50px;background:#162536;text-align: center;font-size:25px;">
            <div class="col-4" style="color:white;line-height:50px;">
                <div class="top center current_binance">
                    <span class="title" style="color:#8895A3;">Binance:</span>
                    <span class="value" style="color:#CCE1FA;">00000.00</span>
                </div>
            </div>
            <div class="col-4" style="color:white;background:#173555;line-height:50px;">
                <div class="top center current_avg">
                    <span class="title" style="color:#8895A3;">평균가격:</span>
                    <span class="value" style="color:#FFDD21;">00000.00</span>
                </div>
            </div>
            <div class="col-4" style="color:white;line-height:50px;">
                <div class="top center current_digi">
                    <span class="title" style="color:#8895A3;">DigiFinex:</span>
                    <span class="value" style="color:#CCE1FA;">00000.00</span>
                </div>
            </div>
        </div>
        <div class="row flex-fill d-flex justify-content-start chart_container" style="position:relative;">
            <!--            <div id="base_chart_div" class="col">Left chart area</div>-->
            <div id="main_chart_div" class="col-12"></div>
            <div class="top_overlay" style="display:none;">
                <div class="disable negative over circle delay1"></div>
                <div class="disable negative over circle delay2"></div>
                <div class="disable negative over circle delay3"></div>
                <div class="disable negative over circle delay4"></div>
                <div class="disable negative over bg circle"></div>
                <div class="disable under circle delay1"></div>
                <div class="disable under circle delay2"></div>
                <div class="disable under circle delay3"></div>
                <div class="disable under circle delay4"></div>
                <div class="disable under bg circle"></div>
            </div>
            <div class="result_label under" style="display:none;">
                UNDER
            </div>
            <!--            <div id="result_chart_div" class="col">Right chart area</div>-->
        </div>
        <div class="row bottom" style="height:60px;font-size:20px;">
            <div class="col-4" style="color:white;">
                <div class="row">
                    <div class="col" style="text-align:left;">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col start_time" style="text-align:left;color:#8895A3;">00:00</div>
                </div>
            </div>
            <div class="col-4" style="color:white;">
                <div class="row base_container">
                    <div class="bet_limit_flag" style="text-align:center;position:absolute;left:-14px;width:29px;height:29px;">&nbsp;</div>
                    <div class="bet_limit circle delay1"></div>
                    <div class="bet_limit circle delay2"></div>
                    <div class="bet_limit circle delay3"></div>
                    <div class="bet_limit circle delay4"></div>
                    <div class="bet_limit circle bg"></div>
                    <div class="col-12 base_flag" style="text-align:center;">
                        <div class="base_value_label" style="display:none;">기준(평균)&nbsp;&nbsp;<span class="value">000000.00</span></div>
                        &nbsp;
                    </div>
                    <div class="base circle delay1"></div>
                    <div class="base circle delay2"></div>
                    <div class="base circle delay3"></div>
                    <div class="base circle delay4"></div>
                    <div class="base circle bg"></div>
                    <!--                    <div class="col-4" style="text-align:center;">&nbsp;</div>-->
                </div>
                <div class="row">
                    <div class="col base_time" style="text-align:center;color:#8895A3;">00:00</div>
                </div>
            </div>
            <div class="col-4" style="color:white;">
                <div class="row result_container">
                    <div class="col result_flag" style="text-align:right;">
                        <div class="result_value_label" style="display:none;">결과(평균)&nbsp;&nbsp;<span class="value">000000.00</span></div>
                        &nbsp;
                    </div>
                    <div class="result circle delay1"></div>
                    <div class="result circle delay2"></div>
                    <div class="result circle delay3"></div>
                    <div class="result circle delay4"></div>
                    <div class="result circle bg"></div>
                </div>
                <div class="row">
                    <div class="col result_time" style="text-align:right;color:#8895A3;">00:00</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="main_overlay">
    <div class="col-6 p-0">
        <div class="top current_binance" style="display:none;">
            <span class="title">Binance:</span>
            <span class="value">0000.00</span>
        </div>
        <div class="top center current_digi" style="display:none;">
            <span class="title">DigiFinex:</span>
            <span class="value">0000.00</span>
        </div>
        <div class="mid base_value_group">
            <div style="height:124px;"></div>
            <table class="information" style="display: none;">
                <tr class="base">
                    <td>
                        <div class="label">
                            <span class="title">기준(평균)</span><span class="value">5009.25</span>
                        </div>
                    </td>
                </tr>
                <tr class="binance">
                    <td>
                        <div class="label">
                            <span class="indicator">•</span><span class="title">Binance</span><span class="value">5009.25</span>
                        </div>
                    </td>
                </tr>
                <tr class="digi">
                    <td>
                        <div class="label">
                            <span class="indicator">•</span><span class="title">DigiFinex</span><span class="value">5009.25</span>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="notification">
                <tr class="base">
                    <td>
                        <div class="label">
                            <div class="title" style="height:237px;width:321px;">거래소에 데이터를 요청중입니다...</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="time_label start_time" style="display:none;">
            <span></span>
        </div>
        <div class="time_label base_time" style="display:none;">
            <span></span>
        </div>
    </div>
    <div class="col-6 p-0" style="display:none;">
        <div class="top current_price">
            <span class="title">평균가격:</span>
            <span class="value">0000.00</span>
            <span class="up_down_indicator">-</span>
        </div>
        <div class="mid result_value_group">
            <div class="high_low_text up">-</div>
            <table class="information" style="display:none;">
                <tr class="base">
                    <td>
                        <div class="label">
                            <span class="title">결과(평균)</span><span class="value">5009.25</span>
                        </div>
                    </td>
                </tr>
                <tr class="binance">
                    <td>
                        <div class="label">
                            <span class="indicator">•</span><span class="title">Binance</span><span class="value">5009.25</span>
                        </div>
                    </td>
                </tr>
                <tr class="digi">
                    <td>
                        <div class="label">
                            <span class="indicator">•</span><span class="title">DigiFinex</span><span class="value">5009.25</span>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="notification" style="display: none;">
                <tr class="base">
                    <td>
                        <div class="label">
                            <div class="title" style="height:237px;width:321px;">거래소에 데이터를 요청중입니다.</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="time_label end_time">
            <span></span>
        </div>
    </div>
</div>

<div id="break_time_overlay" class="overlay">
    <div class="overlay_text">
        <div class="image" style="width:100%;height:264px;"></div>
        <div class="label">다음 게임 준비중입니다.</div>
    </div>
</div>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/4/lang/ko_KR.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.7.1/svg.min.js" integrity="sha256-DSAVgUuz6YXM7pUOvn+Lc40Ek6cWvBgCBU1jsx72Dqg=" crossorigin="anonymous"></script>
<script src="https://naver.github.io/egjs-jquery-transform/release/latest/dist/transform.min.js"></script>
<script src="/javascripts/constant.js?v=1.1.3"></script>
<script src="/javascripts/utils.js?v=1.1.3"></script>
<script src="/javascripts/mainChart.js?v=1.1.3"></script>
<script src="/javascripts/upDownChart.js?v=1.1.3"></script>
<script src="/javascripts/dummyChart.js?v=1.1.3"></script>
<script src="/javascripts/main.js?v=1.1.3"></script>
<script src="/javascripts/thermometer.js?v=1.1.3"></script>
<script>
  am4core.options.commercialLicense = true;
  document.addEventListener('DOMContentLoaded', function() {
    setTimeout(function() {
      App.main.start();
    }, 500);
  });
</script>
</body>
</html>
