@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('https://themes.googleusercontent.com/font?kit=OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('https://themes.googleusercontent.com/font?kit=bmC0pGMXrhphrZJmniIZpYbN6UDyHWBl620a-IRfuBk') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('https://themes.googleusercontent.com/font?kit=RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('https://themes.googleusercontent.com/font?kit=vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('https://themes.googleusercontent.com/font?kit=12mE4jfMSBTmg-81EiS-YRsxEYwM7FgeyaSgU71cLG0') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('https://themes.googleusercontent.com/font?kit=d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('https://themes.googleusercontent.com/font?kit=Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('https://themes.googleusercontent.com/font?kit=7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('https://themes.googleusercontent.com/font?kit=mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('https://themes.googleusercontent.com/font?kit=2UX7WLTfW3W8TclTUvlFyQ') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('https://themes.googleusercontent.com/font?kit=t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('https://themes.googleusercontent.com/font?kit=1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA') format('woff');
}
