@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Noto Sans KR", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100%;
  background: #203040;
  overflow: hidden;
}

#main-wrap, #chart-wrap {
  display: none;
}

#amcharts-logo {
  background: url('https://www.amcharts.com/wp-content/themes/amcharts4/css/img/logo.svg') no-repeat, linear-gradient(transparent, transparent);
  position: relative;
  display: block;
  width: 75px;
  height: 21px;
  background-size: contain;
  text-indent: -9999px;
  z-index: 2;
  margin-top: 15px;
}

#main-wrap {
  height: 100%;
}

#main {
  height: 100%;
}

#main .bottom .base_value_label {
  position: absolute;
  bottom: 38px;
  left: calc(50% - 200px);
  background: rgba(10, 62, 114, 0.91);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  line-height: 50px;
  color: #A2B1C3;
}

#main .bottom .result_value_label {
  position: absolute;
  bottom: 38px;
  right: 39px;
  background: rgba(10, 62, 114, 0.91);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  line-height: 50px;
  color: #A2B1C3;
  text-align: center;
}

#main .bottom .base_value_label .value, #main .bottom .result_value_label .value {
  color: #6FF53D;
}

#main .bottom .result_value_label:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 189px;
  border-width: 0 11px 17px 0;
  border-style: solid;
  border-color: transparent rgba(10, 62, 114, 0.91);
  display: block;
  width: 0;
}

#main .bottom .base_value_label:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 189px;
  border-width: 0 11px 17px 0;
  border-style: solid;
  border-color: transparent rgba(10, 62, 114, 0.91);
  display: block;
  width: 0;
}

#main_overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#main_overlay .top {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 23px;
  color: white;
  background: rgba(23, 34, 46, 0.8);
  border-radius: 25px;
  padding: 5px 20px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.4);
}

#main_overlay .top.current_binance {
  left: 48%;
  width: 270px;
  text-align: center;
}

#main_overlay .top.current_digi {
  left: 100%;
  width: 210px;
  text-align: center;
}

#main_overlay .mid {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(98%, 0%);
  -ms-transform: translate(98%, 0%);
  color: white;
  width: 356px;
}

#main_overlay .mid table .label .title {
  font-size: 2em;
}

#main_overlay .mid table .label .value {
  font-size: 3.6em;
}

#main_overlay .top .title {
  color: #8BA2B9;
}

#main_overlay .top .value {
  color: #CCE1FA;
}

#main_overlay .top.current_price {
  width: 270px;
  text-align: center;
}

#main .top .up_down_indicator.up {
  color: #D01010;
}

#main .top .up_down_indicator.under {
  color: #0052D5;
}

#main_overlay .mid .high_low_text {
  text-align: center;
  font-weight: bold;
  font-size: 6em;
  text-shadow: -3px 0 2px #1E3F5F, 0 3px 2px #1E3F5F, 3px 0 2px #1E3F5F, 0 -3px 2px #1E3F5F;
}

#main_overlay .mid .high_low_text.high,
#main_overlay .mid .high_low_text.up {
  color: #FF2727;
}

#main_overlay .mid .high_low_text.low.under,
#main_overlay .mid .high_low_text.under {
  color: #2679FF;
}

#main_overlay .time_label {
  position: absolute;
  bottom: 1%;
  font-size: 1.5em;
  color: #8BA2B9;
}

#main_overlay .start_time {
  left: 8%;
}

#main_overlay .base_time {
  left: 100%;
}

#main_overlay .end_time {
  right: 8%;
}

#main_overlay .mid table .label {
  text-align: right;
}

#main_overlay .mid table .title {
  padding-right: 8px;
}

#main_overlay .mid table .binance td,
#main_overlay .mid table .digi td {
  padding: 0;
}

#main_overlay .mid table .label {
  padding: 5px 20px;
}

#main_overlay .mid table .base .label {
  background: rgba(12, 24, 36, 0.9);
  border-radius: 25px;
}

#main_overlay .mid table .binance .label,
#main_overlay .mid table .digi .label {
  background: rgba(18, 29, 41, 0.9);
}

#main_overlay .mid table .label .title {
  color: #8BA2B9;
}

#main_overlay .mid table .base .label .value {
  color: #6FF53D;
}

#main_overlay .mid table .binance .label .value,
#main_overlay .mid table .digi .label .value,
#break_time_overlay .overlay_text .label {
  color: #CCE1FA;
}

#main_overlay .mid table .binance .label {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#main_overlay .mid table .digi .label {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#main_overlay .mid table .digi {
  border-top: 1px solid #0A1521;
}

#main_overlay .mid table .label.disable .value {
  color: #8BA2B9 !important;
}

#break_time_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  cursor: pointer;
  display: none;
}

#break_time_overlay .overlay_text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 611px;
  height: 264px;
}

#break_time_overlay .overlay {
  color: #dfdfdf;
}

#break_time_overlay .overlay_text .image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: url('../images/tiny-progress.png') no-repeat;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

#break_time_overlay .overlay_text .label {
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0%);
  width: 100%;
  text-align: center;
}

#main_chart_div, #base_chart_div, #result_chart_div {
  padding: 0;
}

#main_chart_div {
  background: #203040;
}

#main_chart_div.game_over, #main .row.bottom.game_over {
  background: rgba(12, 24, 36, 0.71);
}

#base_chart_div, #result_chart_div {
  background: #17222e;
}

#main_overlay .mid table .label .title {
  font-size: 24px;
}

#main_overlay .mid table .label .value {
  font-size: 46px;
}

#main_overlay .mid table .binance .label .indicator {
  color: #267E2C;
  font-size: 26px;
}

#main_overlay .mid table .digi .label .indicator {
  color: #7D44B3;
  font-size: 26px;
}

#main_overlay .mid table.notification .label .title {
  font-size: 35px;
  text-align: left;
}

.result_flag:hover {
  /*animation: bloop 1s linear;*/
}

#main .bottom .base_container .active.bet_limit.delay1 {
  animation: waves 2.0s linear .1s infinite forwards;
}

/*#main .bottom .base_container .active.bet_limit.delay2 {*/
/*  animation: waves 2.0s linear .7s infinite forwards*/
/*}*/

#main .bottom .base_container .active.bet_limit.delay3 {
  animation: waves 2.0s linear 1.3s infinite forwards;
}

/*#main .bottom .base_container .active.bet_limit.delay4 {*/
/*  animation: waves 2.0s linear 1.9s infinite forwards;*/
/*}*/

#main .bottom .base_container .active.base.delay1 {
  animation: waves 2.0s linear .1s infinite forwards;
}

/*#main .bottom .base_container .active.base.delay2 {*/
/*  animation: waves 2.0s linear .7s infinite forwards*/
/*}*/

#main .bottom .base_container .active.base.delay3 {
  animation: waves 2.0s linear 1.3s infinite forwards;
}

/*#main .bottom .base_container .active.base.delay4 {*/
/*  animation: waves 2.0s linear 1.9s infinite forwards;*/
/*}*/

#main .bottom .result_container .active.delay1 {
  animation: waves 2.0s linear .1s infinite forwards;
}

/*#main .bottom .result_container .active.delay2 {*/
/*  animation: waves 2.0s linear .7s infinite forwards*/
/*}*/

#main .bottom .result_container .active.delay3 {
  animation: waves 2.0s linear 1.3s infinite forwards;
}

/*#main .bottom .result_container .active.delay4 {*/
/*  animation: waves 2.0s linear 1.9s infinite forwards;*/
/*}*/

#main .chart_container .active.over.delay1 {
  animation: waves 2.0s linear .1s infinite forwards;
  background: #FF6060;
}

#main .chart_container .active.over.delay2 {
 animation: waves 2.0s linear .7s infinite forwards;
 background: #FF2727;
}

#main .chart_container .active.over.delay3 {
  animation: waves 2.0s linear 1.3s infinite forwards;
  background: #FF2727;
}

/*#main .chart_container .active.over.delay4 {*/
/*  animation: waves 2.0s linear 1.9s infinite forwards;*/
/*}*/

#main .chart_container .active.under.delay1 {
  animation: waves 2.0s linear .1s infinite forwards;
  background: #4E93FF;
}

#main .chart_container .active.under.delay2 {
 animation: waves 2.0s linear .7s infinite forwards;
 background: #2679FF;
}

#main .chart_container .active.under.delay3 {
  animation: waves 2.0s linear 1.3s infinite forwards;
  background: #2679FF;
}

/*#main .chart_container .active.under.delay4 {*/
/*  animation: waves 2.0s linear 1.9s infinite forwards;*/
/*}*/

#main .bottom .base_container .bet_limit.circle {
  display: block;
  height: 29px;
  width: 29px;
  border-radius: 50%;
  background: #BA2825;
  margin: 10px;
  /*transition: 5s ease;*/
  position: absolute;
  top: -10px;
  left: calc(0% - 25px);
}

#main .bottom .base_container .base.circle {
  display: block;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1.0);
  margin: 10px;
  /*transition: 5s ease;*/
  position: absolute;
  top: -9px;
  right: calc(50% - 24px);
}

#main .bottom .base_container .base.circle.bg {
  height: 29px;
  width: 29px;
  top: -10px;
  right: calc(50% - 25px);
}

#main .bottom .result_container .circle {
  display: block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1.0);
  margin: 10px;
  /*transition: 5s ease;*/
  position: absolute;
  top: -8px;
  right: 16px;
}

#main .bottom .result_container .circle.bg {
  height: 29px;
  width: 29px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1.0);
  margin: 10px;
  /*transition: 5s ease;*/
  position: absolute;
  top: -10px;
  right: 14px;
}

#main .chart_container .over.circle {
  display: block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 10px;
  /*transition: 5s ease;*/
  position: absolute;
  top: -5px;
  left: 0;
}

#main .chart_container .over.circle.positive {
  /*background: #FF2727;*/
}

#main .chart_container .over.circle.negative {
  /*background: #FF6060;*/
}

#main .chart_container .over.circle.disable {
  background: #481212;
}

#main .chart_container .under.circle {
  display: block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 10px;
  /*transition: 5s ease;*/
  position: absolute;
  top: -5px;
  right: 0;
}

#main .chart_container .under.circle.negative {
  /*background: #4E93FF;*/
}

#main .chart_container .under.circle.positive {
  /*background: #2679FF;*/
}

#main .chart_container .under.circle.disable {
  background: #133365;
}

#main .bottom .base_container .bet_limit.circle.bg {
  background: url('../images/Group20.svg') no-repeat center center;
  background-size: 29px;
}
#main .bottom .base_container .bet_limit.circle.bg.disable {
  background: url('../images/Group21.svg') no-repeat center center;
  background-size: 29px;
}

#main .bottom .base_container .base.circle.bg {
  background: url('../images/Group11.svg') no-repeat center center;
  background-size: 29px;
}

#main .bottom .base_container .base.circle.bg.enable {
  background: url('../images/Group26.svg') no-repeat center center;
  background-size: 29px;
}

#main .bottom .result_container .circle.bg {
  background: url('../images/Group12.svg') no-repeat center center;
  background-size: 29px;
}

#main .bottom .result_container .circle.bg.enable {
  background: url('../images/Group27.svg') no-repeat center center;
  background-size: 29px;
}

#main .chart_container .over.circle.bg.negative {
  background-size: 30px;
  background: url('../images/Union_9.svg') no-repeat center center;
}

#main .chart_container .over.circle.bg.positive {
  background-size: 30px;
  background: url('../images/Union_9.svg') no-repeat center center;
}

#main .chart_container .over.circle.bg.disable {
  background-size: 30px;
  background: url('../images/Union2.svg') no-repeat center center;
}

#main .chart_container .under.circle.bg.negative {
  background-size: 30px;
  background: url('../images/Union_10.svg') no-repeat center center;
}

#main .chart_container .under.circle.bg.positive {
  background-size: 30px;
  background: url('../images/Union_10.svg') no-repeat center center;
}

#main .chart_container .under.circle.bg.disable {
  background-size: 30px;
  background: url('../images/Union8.svg') no-repeat center center;
}

#main .chart_container .top_overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 55px;
  width: 134px;
  background: transparent;
  border-radius: 5%;
}

#main .chart_container .result_label {
  width: 100%;
  position: absolute;
  top: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 6em;
  text-shadow: -3px 0 2px #1E3F5F, 0 3px 2px #1E3F5F, 3px 0 2px #1E3F5F, 0 -3px 2px #1E3F5F;
}

#main .chart_container .result_label.over {
  color: #FF2727;
}

#main .chart_container .result_label.under {
  color: #2679FF;
}

@-webkit-keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.blink {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
