@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 14px Roboto, "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100%;
  background: #203040;
  overflow: hidden;
}

#thermometer {
  padding: 15px 0;
}

#chart-wrap {
  height: 100%;
  width: 100%;
  background: url('../images/thermometer_bg.jpg') no-repeat center center;
  background-size: 100% 100%;
  transition:.5s linear;
}
#chart-wrap.blink {
  background: url('../images/thermometer_bg2.jpg') no-repeat center center;
  background-size: 100% 100%;
  transition:.5s linear;
}

#chartdiv {
  height: 100%;
  width: 100%;
}

#left-chart .st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #E1EAEE;
}

#left-chart .st1 {
  fill: #E1EAEE;
}

#left-chart .st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #B9C2C6;
}

#left-chart .st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #3D4B71;
}

#left-chart .st4 {
  clip-path: url(#SVGID_2_);
  fill-rule: evenodd;
  clip-rule: evenodd;
  /*-webkit-transition: all .6s linear;*/
  /*-webkit-transition-delay: .6s;*/
  /*transition: 0.6s linear;*/
}

#left-chart .st5 {
  opacity: 0.3;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
  enable-background: new;
}

#left-chart .st6 {
  fill: #DEE9FF;
}

#left-chart .st7 {
  /*font-family: 'Roboto-Bold';*/
  /*font-weight: bold;*/
}

#left-chart .st8 {
  font-size: 36px;
}

/*#left-chart .st9{fill:#00FFFF;}*/
#left-chart .st10 {
  opacity: 0.4;
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
  enable-background: new;
}

#left-chart .st11 {
  fill: #FFFFFF;
}

#left-chart .st12 {
  /*font-family: 'NotoSansCJKkr-Medium-KSCpc-EUC-H';*/
}

#left-chart .st13 {
  font-size: 24px;
}

#left-chart .st14 {
  fill: #312660;
}

#left-chart .st15 {
  font-size: 20px;
}


#right-chart .st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #E1EAEE;
}

#right-chart .st1 {
  fill: #E1EAEE;
}

#right-chart .st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #B9C2C6;
}

#right-chart .st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #3D4B71;
}

#right-chart .st4 {
  clip-path: url(#SVGID_4_);
  fill-rule: evenodd;
  clip-rule: evenodd;
  /*-webkit-transition: 0.6s linear;*/
  /*transition: 0.6s linear;*/
}

#right-chart .st5 {
  opacity: 0.3;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
  enable-background: new;
}

#right-chart .st6 {
  fill: #DEE9FF;
}

#right-chart .st7 {
  /*font-family: 'Roboto-Bold';*/
  /*font-weight: bold;*/
}

#right-chart .st8 {
  font-size: 36px;
}

/*#right-chart .st9{fill:#F73E4C;}*/
#right-chart .st10 {
  fill: #FFFFFF;
}

#right-chart .st11 {
  /*font-family: 'NotoSansCJKkr-Medium-KSCpc-EUC-H';*/
}

#right-chart .st12 {
  font-size: 24px;
}

#right-chart .st13 {
  opacity: 0.4;
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
  enable-background: new;
}

#right-chart .st14 {
  fill: #312660;
}

#right-chart .st15 {
  font-size: 20px;
}

.weight-bold {
  font-weight: bold;
}

.result-box {
  position: absolute;
  top: 88%;
  left: 50%;
  color: #CBF9A2;
  font-size: 50px;
  font-weight: bold;
  transform: translate(-50%, -88%);
  text-align: center;
}

.result-score {
  display: none;
}

.result-text {
  display: none;
}

#mask_x5F_box {
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
